body {
    background: #f0ead6;
    margin-top: 6rem;
    font-family: 'Rubik', sans-serif;
    color: #2E3640;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
    font-size: 80px;
}

.ask {
    font-size: 26px;
}

.output {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.footer {
    margin-top: 2rem;
}
